<%= form_for page do |form| %>
  <div>
    <%= form.text_field :name, :class => "form_title", :placeholder => "Name"  %>
  </div>
  <div>
    <%= form.text_field :permalink, :class => "form_permalink", :placeholder => "Permalink" %>
  </div>
  <div>
    <%= form.text_area :content, :class => "form_body", :placeholder => "Body" %>
  </div>
  <%= form.submit :class => "submit_button" %>
<% end %>
