<%= form_for post do |form| %>
  <div class="form-title">
    <%= form.text_field :title, :class => "form_title", :placeholder => "Title" %>
  </div>
  <div class="form-description">
    <%= form.text_field :description, :class => "form_description", :placeholder => "Description" %>
  </div>
  <div class="form-body">
    <%= form.text_area :body, :class => "form_body", :placeholder => "Body" %>
  </div>
  <div class="submit-button">
    <%= form.submit "Submit", :class => "submit_button" %>
  </div>
<% end %>
