<div class="resume">
  <table>
    <tr class="section">
      <td class="description">
        <h6>Contact</h6>
      </td>
      <td class="content contact">
        <p>Matt Kieran</p>
        <p><%= mail_to "matt.kiernan@gmail.com", "matt.kiernan@gmail.com",
          target: "_blank" %></p>
          <p><%= link_to "mattkiernan.com", "http://www.mattkiernan.com",
          target: "_blank" %></p>
          <p><%= link_to "github.com/mattkiernan",
            "http://www.github.com/mattkiernan", target: "_blank" %></p>
      </td>
    </tr>
    <tr class="spacer">
      <td></td>
    </tr>
    <tr class="section">
      <td class="description">
        <h6>Summary</h6>
      </td>
      <td class="content">
        <p>Full stack web developer with deep experience in business analytics
        and marketing strategy.</p>

        <p>Recent graduate of <%= link_to "Metis", "http://www.thisismetis.com/ruby-on-rails", target: "_blank" %>, thoughtbot’s web development immersive
        bootcamp, focusing on Ruby on Rails, Javascript, HTML & CSS.</p>
        <p>Over 8 years of experience in Marketing & Business Development.</p>
        <p>Seasoned in managing cross-functional teams, client budgets and
        schedules.</p>
        <p>Full portfolios available at <%= link_to "github.com/mattkiernan", "github.com/mattkiernan", target: "_blank" %> &
        <%= link_to "mattkiernan.com", root_path, target: "_blank" %></p>
      </td>
    </tr>
    <tr class="spacer">
      <td></td>
    </tr>
    <tr>
      <td class="description">
        <h6>Experience</h6>
      </td>
      <td class="content">
        <table class="section-header">
          <tr>
            <td class="company">KIERNAN | Proprietor</td>
            <td class="date">June 2014 - Present</td>
          </tr>
        </table>
        <p>Source new clients, pitch & execute project work for organizations
        including <%= link_to "ToastPOS", "http://pos.toasttab.com", target: "_blank" %>, <%= link_to "OwnerIQ", "http://www.owneriq.com", target: "_blank" %> & <%= link_to "sweetgreen", "http://www.sweetgreen.com", target: "_blank" %>.</p>
        <ul>
          <li>Produced full suite of product marketing collateral from ToastPOS,
          leveraged by entire sales force.</li>
          <li>Delivered <%= link_to "14 page white paper", "http://www.owneriq.com/whitepapers/untapped-manufacturer-goldmine", target: "_blank" %> for OwnerIQ’s behavioral ad-targeting
          platform, used as enterprise sales tool.</li>
          <li>Built custom SQL-based reporting tool for sweetgreen, providing
          valuable insights into customer purchase behavior.</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td class="description">
      </td>
      <td class="content">
        <table class="section-header">
          <tr>
            <td class="company"><%= link_to "LevelUp",
              "http://www.thelevelup.com", target: "_blank" %> |
              Head of Marketing</td>
            <td class="date">June 2014 - Present</td>
          </tr>
        </table>
        <p>Planned, developed & executed LevelUp’s comprehensive go-to-market
        strategy, including:</p>
        <ul>
          <li>Fully integrated lead generation marketing strategy including display,
          SEO, SEM, content marketing, re-marketing, email marketing & PR.</li>
          <li>Fully integrated end-user acquisition marketing strategy including
          radio, OOH, display & email marketing.</li>
          <p>Led team of nine marketing managers in launching seven new markets.</p>

          <p>Executed all PR efforts, from story development to drafting releases
          and pitching the media.</p>
          <p>Developed the <%= link_to "LevelUp blog",
            "http://blog.thelevelup.com" %> as an inbound & content marketing /
            lead generation tool.</p>
          <p>Established and executed CRM & marketing automation strategy for
          identifying new sales leads and ushering prospective clients through sales
          funnel via content marketing and email auto-responder drip campaigns.</p>
          <p>Regularly architected and executed database queries in SQL to identify
          trends in consumer behavior that provided direction for new marketing
          campaigns.</p>
        </ul>
      </td>
    </tr>
    <tr>
      <td class="description">
      </td>
      <td class="content">
        <table class="section-header">
          <tr>
            <td class="company"><%= link_to "Mullen", "http://www.mullen.com",
              target: "_blank" %> | Account Supervisor</td>
            <td class="date">June 2006 - October 2010</td>
          </tr>
        </table>
        <p>Served as direct point of contact for clients and agency team leader
        while developing and managing planning & production of:</p>
        <ul>
          <li>Multi-million dollar year-long marketing plan for SC Johnson’s Shout
          Stain Remover, extending across TV, in-store free-standing units,
          sampling, direct mail, print, social media, FSIs and on-pack
          creative messaging.</li>
          <li>Complete overhaul and redesign of two government websites for the Department of Defense.
          Worked with Information Architect to facilitate prototype user-testing to analyze site experience
          and influence site content organization.</li>
          <li>Integrated marketing campaigns for LendingTree.com, including TV advertisements, radio and
          print while managing client budgets and schedule.</li>
          <li>Integrated campaign promoting new online tools for Orbitz.com including quick-to-market TV
          advertisements, animated Captivate videos featured in office elevators, print advertisements and
          out-of-home advertisements appearing in multiple airports.</li>
        </ul>
      </td>
    </tr>
    <tr class="spacer">
      <td></td>
    </tr>
    <tr>
      <td class="description">
        <h6>Education</h6>
      </td>
      <td class="content">
        <table class="section-header">
          <tr>
            <td class="company"><%= link_to "Bentley University",
              "http://www.bentley.edu", target: "_blank" %> | Bachelor of Science, Marketing</td>
            <td class="date">August 2002 - May 2006</td>
          </tr>
        </table>
      </tr>
    </table>
  </div>
