<div class="resume">
  <table>
    <tr class="section">
      <td class="description">
      </td>
      <td class="contact">
        <h1 class="title">MATT KIERNAN</h1>
        <p class="sub-title">Marketer / Product Manager / Web Developer</p>
      </td>
    </tr>
    <tr class="section">
      <td class="description">
        <h6>Contact</h6>
      </td>
      <td class="content contact">
        <p>Email: <%= mail_to "matt.kiernan@gmail.com", "matt.kiernan@gmail.com",
          target: "_blank" %></p>
          <p>Website: <%= link_to "mattkiernan.com", "http://www.mattkiernan.com",
            target: "_blank" %></p>
            <p>GitHub: <%= link_to "github.com/mattkiernan",
              "http://www.github.com/mattkiernan", target: "_blank" %></p>
            </td>
          </tr>
          <tr class="spacer">
            <td></td>
          </tr>
          <tr class="section">
            <td class="description">
              <h6>Summary</h6>
            </td>
            <td class="content">
              <p>I'm a marketer, product manager and full stack web developer
              helping companies launch new products and businesses.</p>
              <p>I have over 9 years of experience managing cross-functional
              teams, budgets & deadlines.</p>
              <p>My recent personal projects include a
              <%= link_to "public relations CRM", "https://pitchfort.herokuapp.com/",
                target:"_blank" %> and an <%= link_to "easy-to-use survey app",
                "https://surveycat.herokuapp.com/", target:"_blank" %>.</p>
                <p>I also teach at <%= link_to "General Assembly",
                  "https://generalassemb.ly/instructors/matt-kiernan/4164",
                  target: "_blank" %> and <%= link_to "perform improv",
                  "http://instagram.com/p/nox-MxqRm2/", target: "_blank" %>
                around Boston.</p>
                </td>
              </tr>
              <tr class="spacer">
                <td></td>
              </tr>
              <tr class="section">
                <td class="description">
                  <h6>Projects & Technical Skills</h6>
                </td>
                <td class="content">
                  <p>Here's a sample of my recent projects, built with <span class="bold">
                    Ruby on Rails & jquery, hosted on heroku and styled with CSS and the
                    <%= link_to "Neat framework", "http://neat.bourbon.io/",
                      target: "_blank" %>.</span></p>
                    <p><%= link_to "Pitchfort",
                      "http://pitchfort.herokuapp.com", target:"_none" %>: A public relations CRM
                    using <span class="bold">Oauth 2 and the Gmail API</span>.
                    <p><%= link_to "SurveyCat",
                    "http://surveycat.herokuapp.com", target:"_blank" %>: An easy-to-use survey tool
                  using <span class="bold">nested attributes.</span></p>
                  <p><%= link_to "Shoutr",
                    "https://aqueous-retreat-9817.herokuapp.com/", target:"_blank" %>
                : A basic micro-blogging app
                  featuring some <span class="bold">polymorphism.</span></p>
                </td>
              </tr>
              <tr class="spacer">
                <td></td>
              </tr>
              <tr>
                <td class="description">
                  <h6>Experience</h6>
                </td>
                <td class="content">
                  <table class="section-header">
                    <tr>
                      <td class="company">KIERNAN | Proprietor</td>
                      <td class="date">June 2014 - Present</td>
                    </tr>
                  </table>
                  <p>Helping organizations launch new products and businesses through web development, marketing campaigns and data analysis.</p>
                  <ul>
                    <li>Designed & launched product marketing efforts for mobile POS startup, ToastPOS.</li>
                    <li>Produced content marketing for OwnerIQ’s programmatic ad-targeting platform.</li>
                    <li>Built custom SQL-based reporting tool for sweetgreen, providing insights into customer purchase behavior.</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td class="description">
                </td>
                <td class="content">
                  <table class="section-header">
                    <tr>
                      <td class="company"><%= link_to "LevelUp",
                        "http://www.thelevelup.com", target: "_blank" %> |
                        Head of Marketing</td>
                      <td class="date">October 2010 - June 2014</td>
                    </tr>
                  </table>
                  <p>Planned, developed & executed LevelUp’s comprehensive go-to-market
                  strategy, including:</p>
                  <ul>
                    <li>Fully integrated lead generation marketing strategy including display,
                    SEO, SEM, content marketing, re-marketing, email marketing & PR.</li>
                    <li>Fully integrated end-user acquisition marketing strategy including
                    radio, OOH, display & email marketing.</li>

                    <p>Lead marketing & product initiatives, including:</p>
                    <ul>
                    <li>Development of new marketing-related product features.</li>
                    <li>Management of nine  marketing managers while launching seven new markets.</li>
                    <li>The execution of all PR efforts, from story development
                    to drafting releases, pitching reporters and giving interviews.</li>
                    <li>Establishing and executing CRM & marketing automation strategies for
                    identifying new sales leads and ushering prospective clients through the sales
                    funnel via content marketing and email auto-responder drip campaigns.</li>
                    <li>Regularly architecting and executing database queries in SQL to identify
                    trends in customer purchase behavior.</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td class="description">
                </td>
                <td class="content">
                  <table class="section-header">
                    <tr>
                      <td class="company"><%= link_to "Mullen", "http://www.mullen.com",
                        target: "_blank" %> | Account Supervisor</td>
                      <td class="date">June 2006 - October 2010</td>
                    </tr>
                  </table>
                  <p>Served as direct point of contact for clients and agency team leader
                  while developing and managing planning & production of:</p>
                  <ul>
                    <li>Multi-million dollar year-long marketing plan for SC Johnson’s Shout
                    Stain Remover, extending across TV, in-store free-standing units,
                    sampling, direct mail, print, social media, FSIs and on-pack
                    creative messaging.</li>
                    <li>Complete overhaul and redesign of two government websites for the Department of Defense.
                    Worked with Information Architect to facilitate prototype user-testing to analyze site experience
                    and influence site content organization.</li>
                    <li>Integrated marketing campaigns for LendingTree.com, including TV advertisements, radio and
                    print while managing client budgets and schedule.</li>
                    <li>Integrated campaign promoting new online tools for Orbitz.com including quick-to-market TV
                    advertisements, animated Captivate videos featured in office elevators, print advertisements and
                    out-of-home advertisements appearing in multiple airports.</li>
                  </ul>
                </td>
              </tr>
              <tr class="spacer">
                <td></td>
              </tr>
              <tr>
                <td class="description">
                  <h6>Education</h6>
                </td>
                <td class="content">
                  <table class="section-header">
                    <tr>
                      <td class="company"><%= link_to "Metis", "http://www.thisismetis.com/ruby-on-rails", target: "_blank" %> | Web Developer</td>
                      <td class="date">October 2014 - December 2014</td>
                    </tr>
                    <tr>
                      <td class="company"><%= link_to "Bentley University",
                        "http://www.bentley.edu", target: "_blank" %> | Bachelor of Science, Marketing</td>
                      <td class="date">August 2002 - May 2006</td>
                    </tr>
                  </table>
                </tr>
              </table>
            </div>
