<!DOCTYPE html>
<html>
<head>
<title>KIERNAN</title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
<link href='http://fonts.googleapis.com/css?family=Syncopate' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>

</head>
<body>
<% if signed_in? %>
  <div class="admin-controls">
  <ul>
    <li><%= link_to "Sign out", session_path, method: :delete %></li>
    <li><%= link_to "New post", new_post_path %></li>
  </ul>
</div>
  <% end %>
<div class="page-content">
    <%= yield %>
  </div>
</body>
</html>
